:root{
    --primarycolor: gold;
    --secondaryColor: goldenrod;
    --padding:10px;
    
}
*{
    
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: serif;
    
}
.video-container{
    min-width: 100vw;
    min-height: 100vh;
    object-fit: contain;
    position: fixed;
    z-index: -3;
}
.section{
    position: relative;
    z-index: 3;
background-color: rgba(56, 55, 55, 0.582);
}
.section-center{
    width: 100vw;
    height: 100vh;

}

.title{
    text-align: center;
    font-family: serif;

}
.underline{
    height: 5px;
    width: 200px;
    background-color:var(--secondaryColor);
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 60px;

}
.btn-container{
    text-align: center;
    margin-bottom: 40px;

}
.filter-btn{
    text-transform: capitalize;
    padding: 0px 10px;
    border: var(--secondaryColor) 2px solid;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
background-color: rgb(56, 55, 55);
}
.filter-btn:hover{
    border-color: whitesmoke;
    color: var(--secondaryColor);
}
.section-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    column-gap: 40px;

}
.menu-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-top: 20px;

}
img{
    width: 250px;
    height: 170px;
    
}
.menu-image{
    border: var(--secondaryColor) solid 3px;
    border-radius: 20px;

}
.content-section{
    width: 100%;

}
.dish{
    display: inline;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    margin-top: 10px;
    border-bottom: var(--secondaryColor) solid 1px;
    border-radius: 20px;

}
.dish-name{
    font-size: 22px;
    text-transform: capitalize;
    font-family: serif;
    margin-left: 15px;

}
.dish-price{
    font-size: 20px;
    text-align: right;
    color: var(--secondaryColor);

}
.content{
    font-size: 14px;
    margin-left: 10px;
    text-align: justify;

}
@media screen and (max-width:1000px){
    .section-center{
        display: block;

    }
    .menu-image{
        width: 300px;
    }

}
@media screen and (max-width:520px){
    .menu-section{
        display: block;
        margin-bottom: 40px;
        
    }
    .menu-image{
        width: 100%;
        height: 200px;
        
    }

}